<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <title>Hazel Wong</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Template by CocoBasic" />
        <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
        <meta name="author" content="CocoBasic" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="shortcut icon" href="images/favicon.ico" />      
        <link href='https://fonts.googleapis.com/css?family=Poppins:400,700,800' rel='stylesheet' type='text/css'>	             
        <link rel="stylesheet" type="text/css"  href='style.css' />

        <!--[if lt IE 9]>
                <script src="js/html5.js"></script>            
                <script src="js/respond.min.js"></script>                   
        <![endif]-->                
    </head>

    <body>

        <!-- Preloader Gif -->
        <div class="doc-loader">
            <img src="images/preloader.gif" alt="Loading">
        </div>

        <div id="content" class="site-content">

            <div class="content-left">
                <div class="content-left-wrapper">                     
                    <header>
                        <div class="toggle-holder">
                            <div id="toggle">
                                <div class="menu-line"></div>
                            </div>
                        </div>  

                        <div class="top-pagination">
                            <div class="current-num">
                                <span>01</span>                                    
                            </div>
                            <div class="pagination-div"></div>
                            <div class="total-pages-num"></div>
                        </div>

                        <div class="menu-holder">
                            <div class="menu-wrapper relative">                                 
                                <nav id="header-main-menu">
                                    <ul class="main-menu sm sm-clean">
                                        <li><a href="#home">Home</a></li>
                                        <li><a href="#about">About</a></li>
                                        <li><a href="#portfolio">Portfolio</a></li>                                  
                                        <li><a href="#resume">Resume</a></li>                                  
                                        <li><a href="#devblog">Devblog</a></li>                                  
                                        <li><a href="#contact">Contact</a></li>                                  
                                    </ul>
                                </nav>                            
                            </div>
                        </div>               

                        <div class="my-info-wrapper">
                            <img class="my-info-signature" src="images/light-purple-logo.png"/>
                            <div class="my-info">
                                <p class="my-info-title">NAME</p>
                                <p class="my-info-content">Hazel Wong</p>
                            </div>

                            <div class="my-info">
                                <p class="my-info-title">ROLE</p>
                                <p class="my-info-content">Game Designer</p>
                                <p class="my-info-content">Game Developer</p>
                                <p class="my-info-content">Researcher</p>
                            </div>

                            <div class="my-info">
                                <p class="my-info-title">EMAIL</p>
                                <p class="my-info-content">hazwong@umich.edu</p>
                            </div>

                            <!-- <div class="my-info">
                                <p class="my-info-title">PHONE</p>
                                <p class="my-info-content">(+987) 987 654 321</p>
                            </div> -->
                        </div>   

                        <div class="big-num">                              
                            <div class="current-big-num">01</div>
                            <!-- <div class="icon-scroll"></div>   -->
                        </div>
                    </header>
                </div>        

            </div>

            <div class="content-right">  
                <div class="content-right-wrapper">
                    
                    <!-- Home Section -->  
                    <div id="home" class="section full-width-section">
                        <div class="section-wrapper block">
                            <div class="home-center-part">
                                <img class="logo" src="images/dark-purple-logo.png"/>
                                <!-- <p class="site-des">Hello. My name is</p> -->
                                <h1 class="entry-title">Hazel Wong</h1>                                
                                <!-- <p class="site-info">
                                    A full stack all around designer that may or may not include a guide for specific creative potential methods who framing and evaluating moves. 
                                </p> -->

                                <div class="social-links">
                                    <a href="mailto:hazwong@umich.edu">EMAIL</a>
                                    <a href="https://www.linkedin.com/in/hazelltwong/">LINKEDIN</a>
                                    <a href="https://twitter.com/HardBoiledDev">TWITTER</a>
                                </div>

                            </div>                            
                            <!-- <div class="home-right-part">                                
                            </div>                             -->
                        </div>
                    </div>

                    <!-- Service Section -->  
                    <div id="about" class="section">                        
                        <div class="section-wrapper block">
                            <div class="content-1300">
                                <div class="row">
                                    <div class="one-half width-55">
                                        <div class="services-wrapper">
                                            <div class="service-holder">
                                                <img src="images/service1.png" alt="" />
                                                <h4 class="service-title">Co-founder</h4>
                                                <div class="service-text">
                                                    I founded HardBoiled Studios with two friends to develop our debut game Yolked.
                                                </div>                                        
                                            </div>                               

                                            <div class="service-holder m-right-0">
                                                <img src="images/service2.png" alt="" />
                                                <h4 class="service-title">Game Designer</h4>
                                                <div class="service-text">
                                                    In my free time, I spend time designing/developing levels and game mechanics for Yolked.
                                                </div>                                        
                                            </div>                                

                                            <div class="service-holder m-bottom-0">
                                                <img src="images/service3.png" alt="" />
                                                <h4 class="service-title">Researcher</h4>
                                                <div class="service-text">
                                                    I conducted research on machine learning prediction biases in my senior year of university.
                                                </div>                                        
                                            </div>

                                            <div class="service-holder m-right-0 m-bottom-0">
                                                <img src="images/service4.png" alt="" />
                                                <h4 class="service-title">Graduate</h4>
                                                <div class="service-text">
                                                    I majored in Computer Science and minored in Chemistry at the University of Michigan!
                                                </div>                                        
                                            </div>
                                        </div>
                                    </div>

                                    <div class="one-half width-40 last">                                
                                        <h2 class="entry-title section-title">About Me</h2>
                                        <p class="section-info">
                                            Hi! I am a fresh graduate of the University of Michigan and one of the co-founders of HardBoiled Studios, a student-led game studio that is currently developing their debut game, Yolked.
                                        </p>
                                        <p>
                                            I am passionate about machine learning. In my senior year, I conducted research on machine learning prediction biases with Serena Xiong, a fellow undergraduate researcher, and Dr. Sindhu Kutty, a professor of Machine Learning. Our research was presented at the virtual Grace Hopper Conference and won third place in the ACM Student Research Competition.
                                        </p>
                                        <p>
                                            On the side, I also love to develop games. After taking a video game development course in university, two students and I took our final project, Yolked, and decided to start HardBoiled Studios and bring it all the way to the finish line. We have partnered with a publisher, Hitcents, to turn Yolked into a published intellectual property by the end of 2021.
                                        </p>

                                        <div class="button-group-wrapper">
                                            <a href="pdf/Hazel_Wong_CV.pdf" target="_blank" class="button">Download CV</a> 
                                            <!-- <a href="#portfolio" class="button">Check My Portfolio</a>                                                                    -->
                                        </div>
                                    </div>                                                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Portfolio Section -->  

                    
                    <div id="portfolio" class="section">                        
                        <div class="section-wrapper block">
                            <div class="content-1300">
                                <div id="portfolio-wrapper" class="relative">
                                    <div class="category-filter">
                                        <div class="category-filter-icon"></div>                       
                                    </div>
                                    <div class="category-filter-list button-group filters-button-group">
                                        <div class="button is-checked" data-filter="*">All</div>
                                        <div class="button" data-filter=".research">Research</div>
                                        <div class="button" data-filter=".game">Games</div>                                 
                                    </div>
                                    <div class="portfolio-load-content-holder"></div>
                                    <h2 class="entry-title section-title">Portfolio</h2>
                                    <div class="grid" id="portfolio-grid">                                                            
                                        <div class="grid-sizer"></div>

                                        <div id="p-item-1" class="grid-item element-item p-one-third game">
                                            <a class="item-link" target="_blank" href="https://hardboiledstudios.itch.io/yolked" data-id="1">
                                                <img src="images/yolked.gif" alt="" />
                                                <div class="portfolio-text-holder">
                                                    <div class="portfolio-text-wrapper">
                                                        <p class="portfolio-text">Yolked</p>
                                                        <p class="portfolio-cat">Mac/PC Video Game</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div id="p-item-2" class="grid-item element-item p-one-third research">
                                            <a class="item-link" target="_blank" href="https://vghc-anitab.ipostersessions.com/default.aspx?s=8F-67-EC-07-7E-AF-43-B3-A7-C8-18-7B-EF-85-35-AC" data-id="2">
                                                <img src="images/ML.png" alt="" />
                                                <div class="portfolio-text-holder">
                                                    <div class="portfolio-text-wrapper">
                                                        <p class="portfolio-text">Fairness in COMPAS</p>
                                                        <p class="portfolio-cat">ML Research</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div id="p-item-3" class="grid-item element-item p-one-third game">
                                            <a class="item-link" target="_blank" href="https://hardboiledstudios.itch.io/back-2-back" data-id="3">
                                                <img src="images/back2back.gif" alt="" />
                                                <div class="portfolio-text-holder">
                                                    <div class="portfolio-text-wrapper">
                                                        <p class="portfolio-text">Back 2 Back</p>
                                                        <p class="portfolio-cat">Web Game</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="grid-item element-item p-one-third game">
                                            <a class="item-link" target="_blank" href="http://www-personal.umich.edu/~hazwong/Color_Array/">
                                                <img src="images/color-array.gif" alt="" />
                                                <div class="portfolio-text-holder">
                                                    <div class="portfolio-text-wrapper">
                                                        <p class="portfolio-text">Color Array</p>
                                                        <p class="portfolio-cat">Web Game</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="grid-item element-item p-one-third game">
                                            <a class="item-link" target="_blank" href="http://www-personal.umich.edu/~hazwong/Legend_Of_Zelda/">
                                                <img src="images/legend-of-zelda.gif" alt="" />
                                                <div class="portfolio-text-holder">
                                                    <div class="portfolio-text-wrapper">
                                                        <p class="portfolio-text">Legend of Zelda</p>
                                                        <p class="portfolio-text">(Unity Remastered)</p>
                                                        <p class="portfolio-cat">Web Game</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="grid-item element-item p-one-third research">
                                            <a class="item-link" target="_blank" href="https://www.sciencedirect.com/science/article/abs/pii/S2452223618300622?via%3Dihub">
                                                <img src="images/chem.png" alt="" />
                                                <div class="portfolio-text-holder">
                                                    <div class="portfolio-text-wrapper">
                                                        <p class="portfolio-text">Reaction</p>
                                                        <p class="portfolio-text">Miniaturization</p>
                                                        <p class="portfolio-cat">Published Chemistry Reearch</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>                
                                </div>   
                            </div>
                        </div>
                    </div>

                    <!-- Resume Section -->  
                    <div id="resume" class="section">                        
                        <div class="section-wrapper block">
                            <div class="content-1300">  
                                <div class="row">
                                    <div class="one-half width-55">
                                        <h2 class="entry-title section-title">Experience</h2>

                                        <ul class="timeline-holder">                                        
                                            <li class="timeline-event">
                                                <span class="timeline-circle"></span>
                                                <div class="timeline-event-content">
                                                    <b class="pink">Co-founder and Game Designer of HardBoiled Studios </b><br>
                                                    <span class="pink">March 2020 - Present</span> 
                                                    <br><br>
                                                    <ul>
                                                        <li>• Founded HardBoiled Studios as a team of three developers to work on our debut game "Yolked"</li>
                                                        <li>• Conceptualized, designed and implemented levels using Unity and C#</li>
                                                        <li>• Appointed as Acting COO to keep track of tasks, coordinate with stakeholders, schedule chair meetings, and ensure deadlines are met</li>
                                                        <li>• Partnered with a publisher to turn “Yolked” into a published intellectual property</li>
                                                    </ul>
                                                </div>
                                                <div class="timeline-event-date">2020</div>
                                            </li>

                                            <li class="timeline-event">
                                                <span class="timeline-circle"></span>
                                                <div class="timeline-event-content">
                                                    <b class="pink">Software Engineering Intern at Animoca Brands</b><br>
                                                    <span class="pink">June 2020 - August 2020</span> 
                                                    <br><br>
                                                    <ul>
                                                        <li>• Developed websites for video games using HTML, CSS and React Native</li>
                                                        <li>• Transformed XD files made by graphic designers into webpages</li>
                                                        <li>• Created responsive webpages for mobile, tablet and desktop</li>
                                                        <li>• Integrated a part of an API flow between a website and a game client</li>
                                                    </ul>
                                                </div>
                                                <div class="timeline-event-date"></div>
                                            </li>

                                            <li class="timeline-event">
                                                <span class="timeline-circle"></span>
                                                <div class="timeline-event-content">   
                                                    <b class="pink">Undergraduate Student Researcher at UMich</b><br>
                                                    <span class="pink">December 2019 - October 2020</span>
                                                    <br><br>
                                                    <ul>
                                                        <li>• Conducted research on machine learning prediction biases of recidivism prediction instruments with Dr. Sindhu Kutty, a professor of Machine Learning</li>
                                                        <li>• Presented our research at the virtual Grace Hopper Conference on an iPoster in Oct 2020</li>
                                                        <li>• Won 3rd place in the ACM Student Research Competition at the Grace Hopper Conference</li>
                                                    </ul>
                                                </div>
                                                <div class="timeline-event-date">2019</div>
                                            </li>

                                            <li class="timeline-event">
                                                <span class="timeline-circle"></span>
                                                <div class="timeline-event-content">
                                                    <b class="pink">Software Engineering Intern at Datatech Global HK</b><br>
                                                    <span class="pink">June 2019 - August 2019</span>
                                                    <br><br>
                                                    <ul>
                                                        <li>• Created simple animations on a responsive website using HTML, CSS and jQuery to enhance an exhibition showcase experience</li>
                                                        <li>• Designed and built a functional content management system with Javascript, React and MySQL for a mobile application with functions such as adding, deleting, editing, and keyword searching</li>
                                                        <li>• Devised a new enrollment system flow for an English learning centre, including the specifications of the backend and frontend systems in a functional requirement document</li>
                                                    </ul>
                                                </div>
                                                <div class="timeline-event-date"></div>
                                            </li>                                        

                                            <li class="timeline-event">
                                                <span class="timeline-circle"></span>
                                                <div class="timeline-event-content">
                                                    <b class="pink">Undergraduate Student Researcher at UMich</b><br>
                                                    <span class="pink">August 2018 - December 2019</span>
                                                    <br><br>
                                                    <ul>
                                                        <li>• Utilized quantum mechanical computational methods to predict substrate ligand binding in biological systems and calculate energy differences of different molecular structures</li>
                                                        <li>• Engineered shell scripts to read in RNA molecules, break molecules into fragments and compute the chemical properties of each fragment</li>
                                                    </ul>
                                                </div>
                                                <div class="timeline-event-date">2018</div>
                                            </li>                                                 
                                        </ul>
                                    </div>

                                    <div class="one-half width-40 last">
                                        <h2 class="entry-title section-title">Education</h2>
                                        <p class="section-info pink">
                                            University of Michigan
                                        </p>
                                        <ul>
                                            <li>• Bachelors of Science in Computer Science</li>
                                            <li>• Conceptualized, designed and implemented levels using Unity and C#</li>
                                            <li>• Relevant Coursework: Data Structures and Algorithms, Web Systems, Game Design and Development, User Interface Development, Introduction to Machine Learning, Software Engineering</li>
                                        </ul>
                                        <br><br>
                                        <p class="section-info pink">
                                            Canadian International School of Hong Kong
                                        </p>
                                        <ul>
                                            <li>• Higher Level Biology, Chemistry, Math</li>
                                            <li>• Standard Level Chinese, Language and Literature, Economics</li>
                                        </ul>                                    

                                        <!-- <img class="my-signature" src="images/signature2.png" alt="">                                         -->
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Devblog Section -->  
                    <div id="devblog" class="section">                        
                        <div class="section-wrapper block">
                            <div class="content-1300">
                                <div id="portfolio-wrapper" class="relative">

                                    <div class="row">                             
                                        <h2 class="entry-title section-title">Devblog</h2>
                                        <p class="section-info">
                                            Project Randomizer is a research project that explores procedural generation in video games.
                                        </p>
                                        <p>
                                            It has been estimated that the video game industry will be a $159.3 billion dollar industry in 2020, with estimations that it will exceed $200 billion by 2023 (Newzoo 2020) and $300 billion by 2025 (Forbes 2020). In addition, the world currently has 2.7 billion gamers, which is more than a third of the world’s population (Newzoo 2020). As the industry grows exponentially and is changing rapidly, it is important that we continue finding ways to improve and polish video games.
                                        </p>
                                        <p>
                                            Video game developers may often feel stuck when creating levels during development as there may be limited time, cost and memory. Procedural generation is a way for data in video games, such as levels, characters and the environment, to be created algorithmically. This method could have multiple advantages, including creating dynamic content, saving memory usage, saving development time and saving money (Packt 2016). This project will attempt to explore that concept by creating an algorithm that will procedurally generate levels for a novel puzzle game, allowing more dynamic content to be created for people to enjoy while saving time, cost and memory usage.
                                        </p>
                                    </div>           
                                    <div class="portfolio-load-content-holder"></div>
                                    <div class="grid" id="portfolio-grid">                                                            
                                        <div class="grid-sizer"></div>

                                        <div id="p-item-1" class="grid-item element-item p-one-third">
                                            <a class="item-link" href="blog-post-8.html">
                                                <img src="images/blog/blog-8.gif" alt="" />
                                                <div class="portfolio-text-holder">
                                                    <div class="portfolio-text-wrapper">
                                                        <p class="portfolio-text">Implementing a</p>
                                                        <p class="portfolio-text">Dungeon Algorithm</p>
                                                        <p class="portfolio-text">and Brainstorming</p>
                                                        <p class="portfolio-text">Mechanics</p>
                                                        <p class="portfolio-cat">14 Oct 2020</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div id="p-item-1" class="grid-item element-item p-one-third">
                                            <a class="item-link" href="blog-post-7.html">
                                                <img src="images/blog/blog-7-brogue.png" alt="" />
                                                <div class="portfolio-text-holder">
                                                    <div class="portfolio-text-wrapper">
                                                        <p class="portfolio-text">Interview, Brogue and Types of Puzzle Games</p>
                                                        <p class="portfolio-cat">14 Oct 2020</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div id="p-item-1" class="grid-item element-item p-one-third">
                                            <a class="item-link" href="blog-post-6.html">
                                                <img src="images/blog/blog-6-adren.gif" alt="" />
                                                <div class="portfolio-text-holder">
                                                    <div class="portfolio-text-wrapper">
                                                        <p class="portfolio-text">Puzzle Game Research</p>
                                                        <p class="portfolio-cat">30 Sept 2020</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div id="p-item-2" class="grid-item element-item p-one-third">
                                            <a class="item-link" href="blog-post-4.html">
                                                <img src="images/blog/blog-4-stakeholders.png" alt="" />
                                                <div class="portfolio-text-holder">
                                                    <div class="portfolio-text-wrapper">
                                                        <p class="portfolio-text">Stakeholder</p>
                                                        <p class="portfolio-text">Archetypes / </p>
                                                        <p class="portfolio-text">Audience Information</p>
                                                        <p class="portfolio-cat">14 Sept 2020</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div id="p-item-2" class="grid-item element-item p-one-third">
                                            <a class="item-link" href="blog-post-5.html" data-id="2">
                                                <img src="images/blog/blog-5-simplemaze.png" alt="" />
                                                <div class="portfolio-text-holder">
                                                    <div class="portfolio-text-wrapper">
                                                        <p class="portfolio-text">Interviews,</p>
                                                        <p class="portfolio-text">Prototyping /</p>
                                                        <p class="portfolio-text">Experimentation</p>
                                                        <p class="portfolio-cat">23 Sept 2020</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        

                                        <div id="p-item-2" class="grid-item element-item p-one-third">
                                            <a class="item-link" href="blog-post-3.html">
                                                <img src="images/blog/blog-3-market-research.png" alt="" />
                                                <div class="portfolio-text-holder">
                                                    <div class="portfolio-text-wrapper">
                                                        <p class="portfolio-text">Market Research</p>
                                                        <p class="portfolio-cat">14 Sept 2020</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div id="p-item-3" class="grid-item element-item p-one-third ">
                                            <a class="item-link" href="blog-post-1.html">
                                                <img src="images/blog/blog-1-sokoban.gif" alt="" />
                                                <div class="portfolio-text-holder">
                                                    <div class="portfolio-text-wrapper">
                                                        <p class="portfolio-text">First Post</p>
                                                        <p class="portfolio-cat">7 Sept 2020</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div id="p-item-3" class="grid-item element-item p-one-third">
                                            <a class="item-link" href="blog-post-2.html">
                                                <img src="images/blog/blog-2-kgoldrunner.jpg" alt="" />
                                                <div class="portfolio-text-holder">
                                                    <div class="portfolio-text-wrapper">
                                                        <p class="portfolio-text">Related Academic Research</p>
                                                        <p class="portfolio-cat">14 Sept 2020</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>                
                                </div>   
                            </div>
                        </div>
                    </div>

                    <!-- Skills Section -->  
                    <!-- <div id="skills" class="section">                        
                        <div class="section-wrapper block">
                            <div class="content-1300"> 
                                <div class="row m-bottom-60">
                                    <h2 class="entry-title section-title">Skills</h2>

                                    <div class="skill-circle-holder">
                                        <div class="skill-circle">
                                            <div class="skill-circle-wrapper relative" data-value="0.82" data-color="#f37b83" data-empty-color="#554247">
                                                <span class="skill-circle-num"></span>                                            
                                            </div>
                                            <p class="skill-circle-text">Photoshop</p>
                                        </div>

                                        <div class="skill-circle">
                                            <div class="skill-circle-wrapper relative" data-value="0.6" data-color="#f37b83" data-empty-color="#554247">
                                                <span class="skill-circle-num"></span>                                            
                                            </div>
                                            <p class="skill-circle-text">Marketing</p>
                                        </div>                                

                                        <div class="skill-circle">
                                            <div class="skill-circle-wrapper relative" data-value="0.75" data-color="#f37b83" data-empty-color="#554247">
                                                <span class="skill-circle-num"></span>                                            
                                            </div>
                                            <p class="skill-circle-text">PhP</p>
                                        </div>

                                        <div class="skill-circle">
                                            <div class="skill-circle-wrapper relative" data-value="0.31" data-color="#f37b83" data-empty-color="#554247">
                                                <span class="skill-circle-num"></span>                                            
                                            </div>
                                            <p class="skill-circle-text">3D</p>
                                        </div>
                                    </div>                                    
                                </div>


                                <div class="row">
                                    <div class="one-half">                                    
                                        <div class="skills-holder">
                                            <div class="skill-holder">                                        
                                                <div class="skill-text">                                            
                                                    <div class="skill">
                                                        <div class="skill-fill" data-fill="75%"></div>                                                    
                                                    </div>              
                                                    <span>Creativity</span>
                                                </div>                
                                                <div class="skill-percent">75%</div>
                                            </div>

                                            <div class="skill-holder">                                        
                                                <div class="skill-text">                                            
                                                    <div class="skill">
                                                        <div class="skill-fill" data-fill="48%"></div>                                                   
                                                    </div>              
                                                    <span>Cooking</span>
                                                </div>                                            
                                                <div class="skill-percent">48%</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="one-half last">
                                        <div class="skills-holder sec-skills-holder">
                                            <div class="skill-holder">                                        
                                                <div class="skill-text">                                            
                                                    <div class="skill">
                                                        <div class="skill-fill" data-fill="90%"></div>                                                   
                                                    </div>                                                
                                                    <span>PhP</span>
                                                </div>                
                                                <div class="skill-percent">90%</div>
                                            </div>

                                            <div class="skill-holder">                                        
                                                <div class="skill-text">                                            
                                                    <div class="skill">
                                                        <div class="skill-fill" data-fill="62%"></div>                                                   
                                                    </div>              
                                                    <span>Marketing</span>
                                                </div>                
                                                <div class="skill-percent">62%</div>
                                            </div>                                    
                                        </div>
                                    </div>                                    
                                </div>                                
                            </div>                            
                        </div>
                    </div>           -->
                    
                    <!-- Contact Section -->  
                    <div id="contact" class="section p-bottom-0">                        
                        <div class="section-wrapper block">
                            <div class="content-1300">   
                                <div class="row">
                                    <h2 class="entry-title section-title">Get in touch</h2>
                                    <div class="flex">
                                        <div class="width-33">
                                            <div>
                                                <img class="contact-email-icon" src="images/email.png" alt=""/>
                                                <h5 class="contact-text">Send an Email</h5>
                                                <a class="contact-link" href="mailto:hazwong@umich.edu" target="_blank"><p class="contact-info">hazwong@umich.edu</p></a>
                                            </div>
                                        </div>
                                        <div class="width-33">
                                            <div>
                                                <img class="contact-linkedin-icon" src="images/linkedin.png" alt="" />
                                                <h4 class="contact-text">Connect on LinkedIn</h4>
                                                <a class="contact-link" href="https://www.linkedin.com/in/hazelltwong/" target="_blank"><p class="contact-info">@hazelltwong</p></a>
                                            </div>
                                        </div>
                                        <div class="width-33">
                                            <div>
                                                <img class="contact-twitter-icon" src="images/twitter.png" alt="" />
                                                <h4 class="contact-text">Follow on Twitter</h4>
                                                <a class="contact-link" href="https://twitter.com/HardBoiledDev" target="_blank"><p class="contact-info">@HardBoiledDev</p></a>
                                            </div>
                                        </div>
                                    <!-- <div class="one-half width-40">

                                        <p class="section-info">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra tristique placerat in massa consectetur quisque nunc fames.
                                        </p>
                                        <p>
                                            Magni dolores eos qui sed quia consequuntur ratione voluptatem sequi nesciunt permano Nence of the stars from which we spring muse about as a patch of light billions upon billions.                                        
                                        </p>                                    
                                        <p>
                                            Energy hidden in matter a mote of lorem ipsum dust suspended in a sunbeam billions upon ratione voluptatem sequi nesciunt permano lorem ipsum.                                                                  
                                        </p>
                                        <p>
                                            <b>ADDRESS:</b> Some Street 987, USA <br>
                                            <b>EMAIL:</b> company@youremail.com <br>
                                            <b>WEBSITE:</b> www.yourwebsite.com <br>
                                        </p>
                                    </div>

                                    <div class="one-half width-55 last">
                                        <div class="contact-form">
                                            <p>
                                                <input id="name" type="text" name="your-name" placeholder="Name">
                                            </p>
                                            <p>
                                                <input id="contact-email" type="email" name="your-email" placeholder="Email">
                                            </p>                                    
                                            <p>
                                                <input id="subject" type="text" name="your-subject" placeholder="Subject">
                                            </p>
                                            <p>
                                                <textarea id="message" name="your-message" placeholder="Message"></textarea>
                                            </p>
                                            <p class="contact-submit-holder">
                                                <input type="submit" value="SEND">
                                            </p>                                
                                        </div>  -->
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <p class="footer-text">© 2020 Hazel Wong. All Rights Reserved</p>
                        </div>
                    </div>

                </div>
            </div>            
        </div>        

        <!--Load JavaScript-->
        <script src="js/jquery.js"></script>			                                                               
        <script src='js/imagesloaded.pkgd.js'></script>                
        <script src='js/jquery.prettyPhoto.js'></script>                
        <script src='js/isotope.pkgd.js'></script>                
        <script src='js/jquery.smartmenus.min.js'></script>                           
        <script src='js/owl.carousel.min.js'></script>                                                            
        <script src='js/circle-progress.min.js'></script>                                                            
        <script src='js/main.js'></script>
    </body>
</html>